/* Style buttons */
/* Button text-icon */
.btn-ti {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-self: center;

    text-decoration: none;
    border: none;
    border-radius: 10px;
    padding-left: 10px ;
    padding-right: 5px ;
    padding-top: 5px ;
    padding-bottom: 5px ;
    margin: 1px;
    cursor: pointer;
    transition: 400ms;
}
.btn-ti:active {
    transform: scale(0.9);
}
.btn-ti:hover {
    background-color: var(--bn-5);
}
/* Button icon Circle */
.btn-ic {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;

    text-decoration: none;
    border: none;
    border-radius: 50%;
    padding: 5px 5px;
    margin: 1px;
    cursor: pointer;
    transition: 400ms;
}
.btn-ic:active {
    transform: scale(0.9);
}
.btn-ic:hover {
    background-color: var(--bn-5);
}
/* Button icon Square */
.btn-is {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;

    text-decoration: none;
    border: none;
    border-radius: 10px;
    padding: 5px 5px;
    margin: 1px;
    cursor: pointer;
    transition: 400ms;
}
.btn-is:active {
    transform: scale(0.9);
}
.btn-is:hover {
    background-color: var(--bn-5);
}
/* Button text */
.btn-t {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;

    text-decoration: none;
    border: none;
    border-radius: 10px;
    padding-left: 10px ;
    padding-right: 10px ;
    padding-top: 10px ;
    padding-bottom: 10px ;
    margin: 1px;
    cursor: pointer;
    transition: 400ms;
}
.btn-t:active {
    transform: scale(0.9);
}
.btn-t:hover {
    background-color: var(--bn-5);
}
/* Icon Sizes */
.small {
    padding: 1px;
    font-size: 10px;
}
.medium {
    padding: 3px;
    font-size: 15px;
}
.large {
    padding: 5px;
    font-size: 25px;
}
.big {
    padding: 7px;
    font-size: 30px;
}
