/*Tootip top*/
.tooltip-top{
    position: relative;
}
.tooltip-top span {
    visibility: hidden;
    position: absolute;
    bottom: 45px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;

    text-decoration: none;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    transition: 50ms;
    z-index: 20;
}
.tooltip-top:hover span {
    visibility: visible;
    position: absolute;
    bottom: 45px;
    opacity: 0.9;
    z-index: 20;
}
/*Tootip bottom*/
.tooltip-bot{
    position: relative;
}
.tooltip-bot span {
    visibility: hidden;
    position: absolute;
    top: 45px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;

    text-decoration: none;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    transition: 50ms;
    z-index: 20;
}
.tooltip-bot:hover span {
    visibility: visible;
    position: absolute;
    top: 45px;
    opacity: 0.9;
    z-index: 20;
}