/*Back Primary-Positive-Negative color*/
.bpc {background-color: var(--bpc);}
.bpo {background-color: var(--bpo);}
.bne {background-color: var(--bne);}
/*Text Primary-Positive-Negative color*/
.tpc {color: var(--tpc);}
.tpo {color: var(--tpo);}
.tne {color: var(--tne);}
/*Back Colors Shades*/
.bc-1 {background-color: var(--bc-1);}
.bc-2 {background-color: var(--bc-2);}
.bc-3 {background-color: var(--bc-3);}
.bc-4 {background-color: var(--bc-4);}
/*Text Colors Shades*/
.tc-1 {color: var(--tc-1);}
.tc-2 {color: var(--tc-2);}
.tc-3 {color: var(--tc-3);}
.tc-4 {color: var(--tc-4);}
/*Back Neutral Shades*/
.bn-1 {background-color: var(--bn-1);}
.bn-2 {background-color: var(--bn-2);}
.bn-3 {background-color: var(--bn-3);}
.bn-4 {background-color: var(--bn-4);}
.bn-5 {background-color: var(--bn-5);}
.bn-6 {background-color: var(--bn-6);}
/*Text Neutral Shades*/
.tn-1 {color: var(--tn-1);}
.tn-2 {color: var(--tn-2);}
.tn-3 {color: var(--tn-3);}
.tn-4 {color: var(--tn-4);}

/*Colors*/
.green  {color: rgb(0, 255, 0);}
.blue   {color: rgb(0, 183, 255);}
.yellow {color: yellow;}
.orange {color: orange;}
.red    {color: red;}
.purple {color: purple;}
